* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62, 5%;
}

body {
	font-family: sans-serif;
	min-width: 320px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

nav {
	width: 100%;
	height: 100px;
	background-color: rgba(61, 6, 61, 0.767);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

nav ul {
	list-style-type: none;
	display: flex;
	margin: 0;
}

nav a {
	text-decoration: none;
	color: white;
	margin: 0px 70px;
	font-size: 1.5em;
}

.apresentacao {
	background-color: #c71376;
	padding-top: 30px;
	padding-bottom: 100px;
}

.caminho {
	background-image: url(images/purpleGalaxy.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* Resize the background image to cover the entire container */
	;
	padding: 30px 10px 10px 0;
	height: 100vh;

}

.portfolio {
	background-color: #c71376;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 50px 80px 50px;
}

.portfolio a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
}

.portfolio a:hover {
	color: black;
}

h1 {
	text-align: center;
	margin-bottom: 35px;
	color: white;
}

h3 a {
	color: rgba(2, 2, 7, 0.515);
	text-shadow: 2px 2px rgb(85, 17, 85);
}

p {
	font-size: 1,6rem;
}

.apresentacao img {
	width: 75%;
	margin: 40px 20px 0px 100px;
	border-radius: 60%;
}

.apresentacao__secao {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

article {
	background-color: rgba(168, 10, 168, 0.984);
	width: 45%;
	height: 330px;
	padding: 20px;
	margin-top: 40px;
	margin-right: 60px;
	font-size: 1.3em;
	color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
	overflow-y: auto;
	text-align: justify;
}

.caminho__conteudo {
	background-color: black;
	width: 30%;
	height: 370px;
	padding: 15px;
}

.caminho__conteudo p,
.caminho__conteudo h2 {
	color: white;
	text-align: center;
}

.caminho__texto {
	width: 100%;
	height: 85%;
}

.caminho__conteudo img {
	border-radius: 50%;
	width: 30%;
	display: block;
	/*I find this way to put the image in the center; in a horizontal form, but the problem
                    now is put all images in the same places*/
	margin: auto;
	border: 2px solid rgba(168, 10, 168, 0.984);
}

.caminho__grid {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

table {
	border-collapse: collapse;
	width: 50%;
	margin: auto;
	margin-top: 30px;
	background-color: blueviolet;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.685);
	overflow-x: auto;
}

.responsive-table {
	max-width: 100%;
	overflow-x: auto;
}

table td,
table th {
	border: 2px solid black;
	padding: 4px;
	text-align: center;
}

caption {
	text-align: center;
}

form {
	width: 50%;
	height: 300px;
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	margin-left: 25%;
}

input {
	margin: auto;
	width: 80%;
	margin-bottom: 10px;
	background-color: rgb(148, 87, 148);
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.707);
}

input:focus {
	box-shadow: 0 0 5px black;
	outline: none;
	border: 1px solid black
}

.botao {
	width: 50%;
}

.portfolio__sites{
	display: grid;
	grid-template-columns: 500px 500px;
}

.portfolio__site {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 300px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	background-color: #ab54a7;
	cursor: pointer;
	margin-left: 20px;
	position: relative;
}

.portfolio__site:hover{
	background-color: black;
}

.portfolio__site p{
	padding: 10px;
	color: white;
	font-size: 15px;
}

.portfolio__site h1{
	font-size: 20px;
	margin:5px;
}

.portfolio__site img{
	width: 320px;
	height: 180px;
}

footer {
	height: 50px;
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.foot {
	width: 300px;
	color: white;
	margin: auto;
	padding-top: 16px;
}

@media(max-width:890px) {
	.apresentacao {
		height: inherit;
	}

	.apresentacao__secao {
		display: flex;
		flex-direction: column;
	}

	.apresentacao__secao article {
		width: 70%;
		height: 600px;
	}

	.apresentacao__secao img {
		margin-left: 20%;
	}

	.caminho {
		background-image: none;
		background-color: #c71376;
		height: auto;
	}

	.caminho__texto p {
		font-size: 1.2rem;
	}

	.portfolio {
		background-color: #c71376;
		height: inherit;
		text-align: left;
	}

	article {
		width: 90%;
		height: 240px;
		margin: auto;
		margin-top: 20px;
	}

	.apresentacao img {
		width: 60%;
	}

	.caminho__conteudo {
		width: 90%;
		margin-bottom: 200px;
	}

	.caminho__grid {
		display: flex;
		flex-direction: column;
	}

	.portfolio__sites{
		display: grid;
		grid-template-columns: none;
	}
}

.link{
	color: red;
	text-decoration: none;
}